
.bl_tna__label{background:#000;color:#fff;border-radius:999px;text-align:center;padding:0 20px;flex-shrink:0;word-break:keep-all;}
.bl_tna__label2{background:none;color:#000;font-weight:700;}

.bl_tnaWeek{line-height:2.5;}
.bl_tnaWeek__ttl{flex-basis:120px;flex-shrink:0;}
.bl_tnaWeek__list{max-width:500px;}
.bl_tnaWeek__list *{font-size:16px;}

/*.bl_tnaPageBtn{width:30px;height:30px;background:url("/img/icon/icon_arrow.png")no-repeat center/20px;}*/
.el_btnD{border-radius:25px;width:80px;height:40px;}
.bl_tnaPageBtn__prev{transform:rotate(180deg);}
.bl_tnaPageBtn__next{}

/* 애니메이션 */
.time_table {height: 10px; transition: height 0.7s;}
.time_table.go {height: 285px; transform: translateY(0px);}

/* 섹션 */
.section1 {top:100px; width: 370px;}
.section2 {position: relative; width: 900px; top: -10px; z-index: 1; padding-left: 30px; padding-right: 30px;}
.section2_title {position: relative; width: 900px; height: 75px; z-index: 2; padding: 20px 20px;}
.section3 {position: sticky; top:100px; width: 180px;}
.section3_title {text-align: center; font-size: 16px; padding-bottom: 10px;}
.section3_btn {top:100px; width: 180px;}

/* 자간 */
.letter03 {letter-spacing : 0.3px;}

/* 근태기록 테이블 */
.bl_tnaWeek__list {display: flex; justify-content: space-between; padding: 0; list-style-type: none;}
.bl_tnaWeek__item {margin-right: 20px; /* 각 항목 간격 조정 */}
.bl_tnaWeek__item b {display: block; font-weight: 700;}
.bl_tnaWeek__item span {margin-left: 5px; /* 항목 내 텍스트와 아이콘 간격 조정 */}